/ {
  leds {
    compatible = "gpio-leds";
    debug_led: debug-led {
      gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
      label = "Debug LED";
    };
  };

  servo_lf: servo-lf {
    compatible = "pwm-servo";
    pwms = <&pwm 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
    min-pulse = <PWM_USEC(1000)>;
    max-pulse = <PWM_USEC(2000)>;
  };

  buttons {
    compatible = "gpio-keys";
    button: button {
      gpios = <&gpio0 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
      label = "Button";
    };
  };

  aliases {
    display0 = &oled;
    debugled = &debug_led;
    servolf = &servo_lf;
    sw0 = &button;
  };

  chosen {
    zephyr,display = &oled;
  };
};

&pinctrl {
  i2c0_default: i2c0_default {
    group1 {
      pinmux = <I2C0_SDA_P16>, <I2C0_SCL_P17>;
      bias-pull-up;
      input-enable;
      input-schmitt-enable;
    };
  };

  pwm_default: pwm_default {
    group1 {
      pinmux = <PWM_1A_P2>;
    };
  };
};

&i2c0 {
  status = "okay";
  clock-frequency = <I2C_BITRATE_FAST>;
  pinctrl-0 = <&i2c0_default>;
  pinctrl-names = "default";

  oled: oled@3c {
    status = "okay";
    compatible="solomon,ssd1306";
    reg = <0x3c>;
    height = <64>;
    width = <128>;
    com-invdir;
    segment-remap;
    page-offset = <0>;
    segment-offset = <0>;
    display-offset = <0>;
    multiplex-ratio = <63>;
    prechargep = <0x22>;
  };
};

&pwm {
  status = "okay";
  pinctrl-0 = <&pwm_default>;
  pinctrl-names = "default";
  divider-int-1 = <128>; 
};

&gpio0 {
  status = "okay";
};
